<%= simple_form_for @channel, url: change_topic_channel_url, remote: true, html: { class: 'change_topic_channel' } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :current_topic, label: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('views.channels.show.change_topic') %> <%=t 'views.common.or' %> <%= link_to_function t('views.common.cancel'), 'hideChangeTopicForm()' %>
  </div>
<% end %>
