<div class="well" style="padding: 8px 0">
  <ul class="nav nav-list">
    <li class="nav-header"><%= @channel.name %></li>
    <li><%= link_to t('views.scaffold.edit_html'), edit_channel_path(@channel) %></li>
    <li><%= link_to t('views.scaffold.back_html'), channels_path %></li>
    <li class="divider"></li>
    <li class="nav-header" id="current-topic"><%= @channel.current_topic.present? ? @channel.current_topic : t('views.channels.without_current_topic') %></li>
    <li><%= link_to t('views.channels.change_topic_html'), '#change-topic', data: { toggle: 'modal' } %></li>
  </ul>
</div>

<div class="modal hide" id="change-topic">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3><%=t 'views.channels.change_topic' %></h3>
  </div>
  <%= render 'change_current_topic_form' %>
</div>
