<%= title t('views.channels.edit.editing_channel') %>

<h1><%=t 'views.channels.edit.editing_channel' %></h1>

<%= render 'form' %>

<%= link_to t('views.scaffold.show'), @channel %> |
<%= link_to t('views.scaffold.back'), channels_path %>
