<div id="message-<%= message.id %>" class="change_topic_message">
  <div class="meta">
    <div class="gravatar">
      <%= image_tag gravatar_url(message.user, 16) %>
    </div>
    <div class="current_topic">
      <% if message.text.present? %>
        <%= emojize(message.text).html_safe %>
      <% else %>
        <%=t 'views.messages.topic_cleared' %>
      <% end %>
    </div>
    <div class="date">
      <% if message.created_at < Date.today %>
        <%=l message.created_at, format: :short %>
      <% else %>
        <%=l message.created_at, format: :today_short %>
      <% end %>
    </div>
  </div>
</div>
