<div id="message-<%= message.id %>" class="text_message">
  <div class="gravatar">
    <%= image_tag gravatar_url(message.user, 32) %>
  </div>
  <div class="meta">
    <div class="user"><%= message.user %></div>
    <div class="date">
      <% if message.created_at < Date.today %>
        <%=l message.created_at, format: :short %>
      <% else %>
        <%=l message.created_at, format: :today_short %>
      <% end %>
    </div>
  </div>
  <div class="text"><pre><%= message.text %></pre></div>
</div>
