<div id="message-<%= message.id %>" class="upload_message">
  <div class="gravatar">
    <%= image_tag gravatar_url(message.user, 32) %>
  </div>
  <div class="meta">
    <div class="user"><%= message.user %></div>
    <div class="date">
      <% if message.created_at < Date.today %>
        <%=l message.created_at, format: :short %>
      <% else %>
        <%=l message.created_at, format: :today_short %>
      <% end %>
    </div>
  </div>
  <div class="upload">
    <div class="download">
      <%= image_tag 'image.png' %> <%= link_to message.upload.upload.file.original_filename, message.upload.upload_url, target: '_blank' %>
    </div>
    <%= link_to image_tag(message.upload.upload_url(:thumb)), message.upload.upload_url, class: 'img', target: '_blank' %>
  </div>
</div>
