<div id="sign_in">
  
  <h1><%=t 'views.sessions.sign_in' %></h1>
  
  <%= simple_form_for :user, url: sessions_url do |f| %>
    <%= f.error_notification %>
    
    <div class="form-inputs">
      <%= f.input :username, required: false %>
      <%= f.input :password, hint: false, required: false %>
    </div>
    
    <div class="form-actions">
      <%= f.button :submit, t('views.sessions.sign_in') %>
    </div>
  <% end %>
  
</div>
