<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <legend><%=t 'views.users.form.personal_information' %></legend>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    
    <legend><%=t 'views.users.form.user_information' %></legend>
    <%= f.input :username %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    
    <legend><%=t 'views.users.form.localization' %></legend>
    <%= f.input :locale, collection: I18n.available_locales %>
    <%= f.input :timezone, as: :time_zone %>
    
    <legend><%=t 'views.users.form.permissions' %></legend>
    <%= f.input :admin %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
