<div class="user">
  <h2>
    <%= "#{user.first_name} #{user.last_name}" %>
    <span class="actions">
      <%= link_to t('views.scaffold.edit'), edit_user_path(user), class: 'important' %>
      <%=t 'views.common.or' %>
      <%= link_to t('views.scaffold.destroy'), user, confirm: t('views.scaffold.are_you_sure'), method: :delete, class: 'important' %>
    </span>
  </h2>
  <div class="meta">
    <%= user.email %>
  </div>
</div>
