<!DOCTYPE html>
<html>
  <head>
    <title>Smoke signals<%= (content_for?(:title) ? ': ' : '') + yield(:title) %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    
    <%= render 'header' %>
    
    <div id="content">
      <% flash.each do |name, message| %>
        <div class="flash flash_<%= name %>"><%= message %></div>
      <% end %>
      
      <%= yield %>
    </div>
    
  </body>
</html>
