<!DOCTYPE html>
<html>
  <head>
    <title><%=t 'views.application.fogata' %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <%= render 'navbar' %>

    <div class="container">
      <% flash.each do |name, message| %>
        <div class="alert alert-<%= flash_name_to_bootstrap_alert name %>">
          <a class="close" data-dismiss="alert">&times;</a>
          <%= message %>
        </div>
      <% end %>

      <%= yield %>
    </div>

  </body>
</html>
